body {
    margin: 0;
    padding: 0;
}

canvas {
    border: 1px solid black;
    touch-action: none;
}

#container {
    width: 800px;
    margin: 0 auto;
}

#fourier-canvas {
    width: 800px;
    height: 400px;
}

#slider-table {
    width: 800px;
    border: 1px solid black;
    table-layout: fixed;
}

#controls {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr 80px;
}


